/* Style Global */
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Style do Body */
body {
    background-color: #f6f8fc;
}

/* Style Menu Principal Pokedex */
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

/* Tratamento para tamanho de media diferente (Media Query) */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    
}
