
/* Style Titulo Pokedex */
.content h1 {
    margin: 0;
}

/* Style lista ordinaria Pokemons */
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Background colors types */
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98f00;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


/* Style itens Pokemons */
.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

/* Style do número do Pokemon */
.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

/* Style do nome do Pokemon */
.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

/* Style da class detail */
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Style do tipo do Pokemon */
.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Style do marcador de tipo do Pokemon */
.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

/* Style das imagens dos pokemons */
.pokemon .detail img {
    max-width: 100%;
    height: 60px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #5e68ce;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
}

/* Tratamento para tamanho de media diferente (Media Query) */
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    
}

/* Tratamento para tamanho de media diferente (Media Query) */
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

/* Tratamento para tamanho de media diferente (Media Query) */
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

/* Novo */

.pokemon-card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 200px;
    height: 200px;
}

.pokemon-card-name {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-transform: capitalize;
}

.pokemon-type {
    font-size: 12px;
    margin: 10px;
    color: #000;
    filter: brightness(1.1);
    border-radius: 10px;
}

.pokemon-card .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 24px;
}

.grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .25rem 0;
    font-size: .625rem;
}

.grid-card .type {
    display: grid;
    padding: .25rem .5rem;
    border-radius: 1rem;
    filter: brightness(1.1);
}